<div th:fragment="admin-panel" id ="adminPanel" class="flex flex-row items-stretch justify-center space-x-4 w-full h-full">
    <div class="flex flex-col items-center justify-center space-y-2 space-x-2">
        <div id="barrelsInfo" class="p-2 space-y-2 rounded-2xl bg-emerald-400/75 flex flex-col items-center justify-left">
        </div>

        <div id="downloadersInfo" class="p-2 space-y-2 rounded-2xl bg-emerald-400/75 flex flex-col items-center justify-left">
        </div>
    </div>
    <div class="flex flex-col items-center justify-center space-y-2 space-x-2">
        <div id="urlsToProcess" class="p-2 space-y-2 rounded-2xl bg-emerald-400/75 flex flex-col items-center justify-left basis-1/4">
        </div>
        <div id="topTenSearches" class="p-2 space-y-2 rounded-2xl bg-emerald-400/75 flex flex-col items-center justify-left basis-3/4">
        </div>
    </div>
</div>